/* Reset some default styles */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: cursive, sans-serif;
}

/* Header styles */
.logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  margin-left: 20px;
  margin-right: 8px;
}

h1 {
  color: #ffffff;
  font-size: 20px;
  text-align: left;
  margin: 17px;
  margin-right: 0;
  margin-left: 0;
}

.fixed-top {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.1); /* Adjust the opacity as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a shadow at the bottom */
}

/* Navigation styles */
.navbar {
  flex: 1;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 30px;
}

.nav-item:first-child {
  margin-left: 30px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item a {
  text-decoration: none;
  font-weight: bold;
  color: #25858b;
  z-index: 100;
}

/* Main content styles */
main {
  position: relative;
  min-height: 100vh;
  background-image: url("pictures source/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  padding: 20px;
  padding-top: 100px;
  color: #fff;
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery-item {
  width: 100%;
  max-width: 400px;
  margin-bottom: 30px;
  text-align: center;
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  filter: brightness(100%) contrast(110%);
}

.gallery-item #map {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-bottom: 30px;
  border-radius: 5px;
  mix-blend-mode: soft-light;
  transform: rotate(5deg);
  filter: brightness(90%) contrast(100%);
}

.gallery-item h3 {
  margin-top: 10px;
  font-size: 18px;
  color: #fff;
  mix-blend-mode: screen;
}

.gallery-item p {
  margin-top: 5px;
  font-size: 14px;
  color: #fff;
}

h2 {
  color: #fff;
  font-size: 36px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p {
  color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

ul {
  color: #ff8a8a;
  padding: 0;
  list-style-type: none;
}

/* Footer styles */
footer {
  background-color: #f2f2f2;
  padding: 2px;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}

footer p {
  color: #020202;
}

/* Media Queries for Responsive Design */
@media (min-width: 768px) {
  /* Header styles */
  .logo {
    margin-left: 40px;
  }

  /* Navigation styles */
  .nav-item {
    margin-right: 50px;
  }

  .nav-item:first-child {
    margin-left: 50px;
  }

  /* Main content styles */
  .container {
    padding-top: 150px;
  }

  .gallery-item {
    width: 30%;
  }

  h2 {
    font-size: 50px;
  }

  p {
    font-size: 19.1px;
  }
}

@media (max-width: 767px) {
  /* Header styles */
  .logo {
    margin-left: 10px;
  }

  h1 {
    font-size: 16px;
  }

  /* Navigation styles */
  .nav-list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-item {
    margin: 5px 15px;
  }

  /* Main content styles */
  .container {
    padding-top: 80px;
  }

  .gallery-item {
    width: 100%;
  }

  h2 {
    font-size: 30px;
  }

  p {
    font-size: 14px;
  }
}
