/* Reset some default styles */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

@font-face {
  font-family: "CustomFont";
  src: url("Poppins/Poppins-Medium.ttf") format("truetype");
}

body {
  font-family: "CustomFont", arial;
}

html {
  scroll-behavior: smooth;
}

/* Header styles */
.fixed-top {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.1); /* Adjust the opacity as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a shadow at the bottom */
}

.logo {
  margin-left: 144px;
  margin-top: 24px;
  margin-bottom: 12px;
  margin-right: 0;
  max-width: 100%;
  height: 57px;
  display: flex;
  justify-content: center;
  filter: brightness(0) saturate(100%) invert(100%);
}

.logo img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

/* Navigation styles */
.navbar {
  flex: 1;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list .nav-item {
  margin-right: 41px;
}

.nav-list .nav-item:first-child {
  margin-left: 92px;
}

.nav-list .nav-item:last-child {
  margin-right: 0;
}

.nav-item a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #258b85;
  z-index: 100;
}

/* Main content styles */
main {
  position: relative;
}

.container {
  position: relative;
  color: #fff;
  text-align: center;
}

.first-section {
  margin: 0;
  padding: 0;
  position: relative;
  height: 700px; /* Adjust the height as needed */
}

.first-section .header-image {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.first-section .header-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0 0 5% 5%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.quote {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  max-width: 1250px;
  width: 100%;
}

.quote h1 {
  font-size: 65px;
}

.quote p {
  font-size: 18px;
}

/* background style */
.rest-section-bg {
  position: relative;
  top: -220px;
  background: url("pictures source/LANDING PAGE BACKGROUND.png");
  z-index: -1;
}

.second-section {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.about-us-image {
  margin-top: 270px;
  flex: 0 0 auto;
  position: relative;
}

.about-us-image img {
  padding-left: 250px;
  margin-right: 50px;
}

.about-us-description {
  flex: 1;
  display: flex;
  align-items: first baseline;
  flex-direction: column;
  text-align: justify;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-right: 250px;
  margin-top: 270px;
}

.about-us-description h1 {
  font-size: 40px;
  color: #fff;
}

.about-us-description p {
  font-size: 18px;
  color: #fff;
  text-align: justify;
}

/* Third section styles */
.third-section {
  margin-top: 120px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-assets {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px; /* Adjust the spacing */
  position: relative;
}

.section-assets img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px; /* Adjust the spacing */
}

.section-assets .rectangle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -430%);
  z-index: 1;
}

.section-assets .text-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -780%);
  z-index: 1;
}

.section-assets .plane {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-250%, -450%);
  z-index: 1;
}

.section-assets .map img {
  height: auto;
  max-width: 100%;
  margin-top: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  z-index: 0;
}

.section-assets .map {
  z-index: 0;
}

.third-section .section-text h1 {
  position: absolute;
  font-size: 23px;
  font-weight: 600;
  line-height: 34.5px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.17);
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -720%);
}

.pin-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -160%);
  z-index: 1000;
  cursor: pointer;
}

.pin-button2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(415%, -95%);
  z-index: 1000;
  cursor: pointer;
}

.pin-button3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, 110%);
  z-index: 1000;
  cursor: pointer;
}

.pin-button4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-160%, 100%);
  z-index: 1000;
  cursor: pointer;
}

.pin-button5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-350%, 50%);
  z-index: 1000;
  cursor: pointer;
}

.fourth-section {
  margin-top: 120px;
  position: relative;
  height: 800px; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fourth-section .image-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.fourth-section .image-wrapper img {
  flex-shrink: 0;
  scroll-snap-align: center;
}

.fourth-section .image-wrapper .left-image {
  margin-right: 50px;
}

.fourth-section .image-wrapper .right-image {
  margin-left: 50px;
}

.fourth-section .section-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; /* Maintain aspect ratio and crop the image if needed */
}

.fourth-section .track-bar {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.fourth-section .section-text h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -500%);
  text-align: center;
  width: 100%;
  font-size: 50px;
}

.fourth-section .section-text p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 700%);
  text-align: center;
  width: 100%;
  font-size: 20px;
}

ul {
  color: #ff8a8a;
  padding: 0;
  list-style-type: none;
}

/* Footer styles */
footer {
  background-color: #f2f2f2;
  padding: 2px;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}

footer p {
  color: #020202;
}
