/* Reset some default styles */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

@font-face {
  font-family: "CustomFont";
  src: url("Poppins/Poppins-Medium.ttf") format("truetype");
}

body {
  font-family: "CustomFont", arial;
}

/* Header styles */
.fixed-top {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.1); /* Adjust the opacity as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a shadow at the bottom */
}

.logo {
  margin-left: 144px;
  margin-top: 24px;
  margin-bottom: 12px;
  margin-right: 0;
  max-width: 100%;
  height: 57px;
  display: flex;
  justify-content: center;
  filter: brightness(0) saturate(100%) invert(100%);
}

.logo img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

/* Navigation styles */
.navbar {
  flex: 1;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list .nav-item {
  margin-right: 41px;
}

.nav-list .nav-item:first-child {
  margin-left: 92px;
}

.nav-list .nav-item:last-child {
  margin-right: 0;
}

.nav-item a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #258b85;
  z-index: 100;
}

/* Main content styles */
main {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(180deg, #34ece1 0%, rgba(40, 138, 152, 0) 98.96%);
}

.first-section {
  margin: 0;
  padding: 0;
  position: relative;
  height: 700px; /* Adjust the height as needed */
}

.header-image {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  color: #fff;
  text-align: center;
}

.container h2 {
  position: absolute;
  width: 100%;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 65px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.container p {
  position: absolute;
  width: 100%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

ul {
  color: #ff8a8a;
  padding: 0;
  list-style-type: none;
}

/* Footer styles */
footer {
  background-color: #f2f2f2;
  padding: 2px;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}

footer p {
  color: #020202;
}
